# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#列出控管資料的全檔名
#git ls-files > file_list.txt 
file_list.txt

# 列出所有的commits ， 一直按enter到最後
# git log --oneline --graph --all
git-history.txt