// 新增讓字體大小可以為響應式，且font-size在_variable.scss中，已有重新定義
$font-size-utilities: map-merge(map-get($utilities, "font-size"),
    (responsive: true));

// 新增行高並合併到原本的line-height上
$line-height-utilities: map-merge(map-get($utilities, "line-height"),
    (responsive: true, values: map-merge(map-get(map-get($utilities, "line-height"), "values"),
        (normal: $line-height-normal))));

// 新增圓角的角度map
$custom-radius: (
  0: 0,
  1: 4px,
  2: 8px,
  3: 12px,
  4: 16px,
  5: 20px,
  6: 24px,
  7: 28px,
  8: 32px,
  9: 36px,
  10: 40px,
  11: 44px,
  16: 64px
);

// 新增圓角角度並合併到原本的rounded上
$rounded-utilities: map-merge(map-get($utilities, "rounded"),
    (responsive: true, values: map-merge(map-get(map-get($utilities, "rounded"), "values"), $custom-radius)));

// 合併所有自定義的設定到 $utilities
$utilities: map-merge($utilities,
    ("font-size": $font-size-utilities,
      "line-height": $line-height-utilities,
      "rounded": $rounded-utilities ));

// 設置主題覆蓋樣式
.main-overlay::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}