.select {
  outline: 2px dashed $primary-70;
}

.introduction {
  background-image: url(../illustration/Vector1.svg);
  @include media-breakpoint-up(lg) {
    background-image: url(../illustration/Background.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 例如 16:9，(9/16)*100% = 56.25% */
    z-index: -1;
    margin-top: 15%;
    .title {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 689px;
    }
    .information {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 966px;
    }
  }
}
.help {
  @include media-breakpoint-up(lg) {
    background-image: url(../illustration/4e22d675a9dee38e5e86384f7a6fb988.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.gameText {
  width: 306px;
}
.gameImg {
  @include media-breakpoint-up(lg) {
    width: 416px;
  }
  img {
    border: 2px dashed $primary-80;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}
