.select {
  outline: 2px dashed $primary-70;
}

.introduction {
  background-image: url(../illustration/Vector1.svg);

  @include media-breakpoint-up(lg) {
    background-image: url(../illustration/Background.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    /* 例如 16:9，(9/16)*100% = 56.25% */
    z-index: -1;

    .title {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 689px;
    }

    .information {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 966px;
    }
  }
}

.help {
  @include media-breakpoint-up(lg) {
    background-image: url(../illustration/4e22d675a9dee38e5e86384f7a6fb988.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}


.gameImg {
  img {
    aspect-ratio: 416 / 294;
    border: 2px dashed $primary-80;
    border-radius: 64px;
    object-fit: cover;

    @include media-breakpoint-down(lg) {
      aspect-ratio: 351 / 180;
      border-radius: 45px;
    }
  }
}



.swiper-wrapper-container {
  padding: 0 50px; // 預留左右按鈕空間
}

.swiper-button-prev-custom,
.swiper-button-next-custom,
.swiper-button-prev-custom-new,
.swiper-button-next-custom-new {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.swiper-button-next-custom::after,
.swiper-button-prev-custom::after,
.swiper-button-next-custom-new::after,
.swiper-button-prev-custom-new::after {
  width: 40px;
  height: 40px;
  padding: 10.45px 14.64px;
  font-size: 20px;
  position: absolute;
  color: white;
  background-color: #9c6c53;
  border-radius: 50%;
  box-shadow: 0px 4px 8px 0px rgba(101, 61, 39, 0.2);
  font-family: swiper-icons;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}

.swiper-button-next-custom,
.swiper-button-next-custom-new {
  right: 0;
}

.swiper-button-next-custom::after,
.swiper-button-next-custom-new::after {
  content: 'next';
}

.swiper-button-prev-custom,
.swiper-button-prev-custom-new {
  left: 0;
}

.swiper-button-prev-custom::after,
.swiper-button-prev-custom-new::after {
  content: 'prev';
}

.swiper-button-prev-custom,
.swiper-button-next-custom,
.swiper-button-prev-custom-new,
.swiper-button-next-custom-new {
  transition: opacity 0.3s ease;
}

.swiper-button-disabled {
  opacity: 0.3;
  pointer-events: none;
}

.text-justify {
  text-align: justify;
}

.indexBtn:hover {
  background: $secondary-60;
  color: white;
}