.member-nav-item-active {
    color: $secondary-40;
    padding-bottom: 8px !important;
    border-bottom: 4px solid $secondary-40 !important;
}

.usermain {
    background-color: rgba(187, 135, 135, 0) !important;
}

.basicInfo {
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}