.navbar {
  height: 72px;
  z-index: 100;

  @include media-breakpoint-up(lg) {
    height: 100px;
  }

  .container-lg {
    @include media-breakpoint-up(xl) {
      max-width: 1076px;
    }
  }

  .w-100,
  .vw-100 {
    @include media-breakpoint-up(lg) {
      width: auto;
    }
  }
}

.navbar-collapse {
  z-index: 20;
}

.nav-link-bg {
  transition: 0.2s;

  &:hover {
    background: $nature-95;
    border: 1px solid $nature-80;

    @include media-breakpoint-up(lg) {
      background: $white;
      border: 0;
      transform: scale(0.9);
    }
  }
}

.navbar-toggler{
	border: none;
}